<a href="https://colab.research.google.com/github/istiakmahmudnewaz/Pythonprogramming_GUB_EDGE_PROJECT/blob/main/Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: RNA codon Table as a dictionary in pythone

RNA_codon_table = {
    # Second Base
    #      U             C             A             G
    # U
    'UUU': 'Phe', 'UUC': 'Phe', 'UUA': 'Leu', 'UUG': 'Leu',
    'UCU': 'Ser', 'UCC': 'Ser', 'UCA': 'Ser', 'UCG': 'Ser',
    'UAU': 'Tyr', 'UAC': 'Tyr', 'UAA': 'STOP', 'UAG': 'STOP',
    'UGU': 'Cys', 'UGC': 'Cys', 'UGA': 'STOP', 'UGG': 'Trp',
    # C
    'CUU': 'Leu', 'CUC': 'Leu', 'CUA': 'Leu', 'CUG': 'Leu',
    'CCU': 'Pro', 'CCC': 'Pro', 'CCA': 'Pro', 'CCG': 'Pro',
    'CAU': 'His', 'CAC': 'His', 'CAA': 'Gln', 'CAG': 'Gln',
    'CGU': 'Arg', 'CGC': 'Arg', 'CGA': 'Arg', 'CGG': 'Arg',
    # A
    'AUU': 'Ile', 'AUC': 'Ile', 'AUA': 'Ile', 'AUG': 'Met',
    'ACU': 'Thr', 'ACC': 'Thr', 'ACA': 'Thr', 'ACG': 'Thr',
    'AAU': 'Asn', 'AAC': 'Asn', 'AAA': 'Lys', 'AAG': 'Lys',
    'AGU': 'Ser', 'AGC': 'Ser', 'AGA': 'Arg', 'AGG': 'Arg',
    # G
    'GUU': 'Val', 'GUC': 'Val', 'GUA': 'Val', 'GUG': 'Val',
    'GCU': 'Ala', 'GCC': 'Ala', 'GCA': 'Ala', 'GCG': 'Ala',
    'GAU': 'Asp', 'GAC': 'Asp', 'GAA': 'Glu', 'GAG': 'Glu',
    'GGU': 'Gly', 'GGC': 'Gly', 'GGA': 'Gly', 'GGG': 'Gly'
}

In [ ]:
#convertingString to object
site_string = "Jafricode.com"
byte = bytes(site_string, 'utf-8')
print(byte)

b'Jafricode.com'

In [ ]:
#convert int to object
num = 3

ans = bytes(num)

print(ans)

b'\x00\x00\x00'

In [ ]:
#Explicit Type Conversion
str = '32'  # Use straight quotes

print(type(str))  # its type will be string

c_str = int(str)  # Convert the string '32' to an integer

print(type(c_str))  # its type will be integer

<class 'str'>
<class 'int'>

In [ ]:
for k in range(1,11,1):
    print(k)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
if num1>num2:
    print(num1)
else:
    print(num2)

Enter first number: 3
Enter second number: 4
4

In [ ]:
# Get input from the user
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2002
2002 is not a leap year.

In [ ]:
# Function to check if the number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
try:
    number = int(input("Enter a number to check if it's prime: "))

    if is_prime(number):
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

except ValueError:
    print("Please enter a valid integer.")

Enter a number to check if it's prime: 10
10 is not a prime number.

In [ ]:
x = 42

if x > 1:
    print('More than one')

if x < 100:
    print('Less than 100')

print('All done')

More than one
Less than 100
All done

In [ ]:
# Correcting the variable names and input functions
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))
num5 = int(input("Enter fifth number: "))


if num1 > num2:
    print(num1)
elif num2 > num1:
    print(num2)
elif num3 > num1:
    print(num3)
elif num4 > num1:
    print(num4)
else:
    print(num5)

Enter first number: 4
Enter second number: 6
Enter third number: 5
Enter fourth number: 2
Enter fifth number: 3
6

In [ ]:
x = int(input("Enter a number: "))

if x < 2:
    print('Below 2')

elif x >= 2:
    print('Two or more')

else:
    print('Something else')

Enter a number: 1
Below 2

In [ ]:
# Taking an integer input from the user
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

Enter an integer: 2
2 is even.

In [ ]:
score = int(input("Enter your score: "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter your score: 3
Fail

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 3
The number is positive.

In [ ]:
score = float(input("Enter your score: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Your grade is: {grade}")

Enter your score: 80
Your grade is: B

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2000
2000 is a leap year.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print(f"The largest number is: {largest}")

Enter the first number: 2
Enter the second number: 1
Enter the third number: 3
The largest number is: 3.0

In [ ]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))

celsius = (fahrenheit - 32) * 5 / 9


print(f"Converted temperature: {celsius:.2f}°C")

if celsius < -30:
    print("It's extremely cold!")
elif celsius > 40:
    print("It's extremely hot!")
elif celsius < 0:
    print("The temperature is below freezing.")
else:
    print("The temperature is above freezing.")

Enter temperature in Fahrenheit: 45
Converted temperature: 7.22°C
The temperature is above freezing.