<a href="https://colab.research.google.com/github/istiakmahmudnewaz/Pythonprogramming_GUB_EDGE_PROJECT/blob/main/Class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name: ")
print(name)

if 5<=len(name)<10 and name[0].lower()=='a':
    print("Hello,",name)
else:
    print("Invalid input")

Enter your name: fahmid
fahmid
Invalid input

In [ ]:
age = int(input("Enter your age: "))
print(age)

marks = int(input("Enter your marks: "))
print(marks)

if age >= 18 and 90 < marks < 100:
    print("Selected")
else:
    print("You are not Selected")

Enter your age: 20
20
Enter your marks: 95
95
Selected

In [ ]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for x in range(10,20):
    print(x)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for x in range (50,0, -1):
  if x%2==1:
   print(x, "Exam Time 4. PM")
  else:
    print(x, "Exam Time 5. PM")

50 Exam Time 5. PM
49 Exam Time 4. PM
48 Exam Time 5. PM
47 Exam Time 4. PM
46 Exam Time 5. PM
45 Exam Time 4. PM
44 Exam Time 5. PM
43 Exam Time 4. PM
42 Exam Time 5. PM
41 Exam Time 4. PM
40 Exam Time 5. PM
39 Exam Time 4. PM
38 Exam Time 5. PM
37 Exam Time 4. PM
36 Exam Time 5. PM
35 Exam Time 4. PM
34 Exam Time 5. PM
33 Exam Time 4. PM
32 Exam Time 5. PM
31 Exam Time 4. PM
30 Exam Time 5. PM
29 Exam Time 4. PM
28 Exam Time 5. PM
27 Exam Time 4. PM
26 Exam Time 5. PM
25 Exam Time 4. PM
24 Exam Time 5. PM
23 Exam Time 4. PM
22 Exam Time 5. PM
21 Exam Time 4. PM
20 Exam Time 5. PM
19 Exam Time 4. PM
18 Exam Time 5. PM
17 Exam Time 4. PM
16 Exam Time 5. PM
15 Exam Time 4. PM
14 Exam Time 5. PM
13 Exam Time 4. PM
12 Exam Time 5. PM
11 Exam Time 4. PM
10 Exam Time 5. PM
9 Exam Time 4. PM
8 Exam Time 5. PM
7 Exam Time 4. PM
6 Exam Time 5. PM
5 Exam Time 4. PM
4 Exam Time 5. PM
3 Exam Time 4. PM
2 Exam Time 5. PM
1 Exam Time 4. PM

In [ ]:
i = 100
while i >=1:
  if i%2==1:
    print(i, "Exam Time 4.00 PM")
  else:
    print(i, "Exam Time 5.00 PM")

  i = i-1

100 Exam Time 5.00 PM
99 Exam Time 4.00 PM
98 Exam Time 5.00 PM
97 Exam Time 4.00 PM
96 Exam Time 5.00 PM
95 Exam Time 4.00 PM
94 Exam Time 5.00 PM
93 Exam Time 4.00 PM
92 Exam Time 5.00 PM
91 Exam Time 4.00 PM
90 Exam Time 5.00 PM
89 Exam Time 4.00 PM
88 Exam Time 5.00 PM
87 Exam Time 4.00 PM
86 Exam Time 5.00 PM
85 Exam Time 4.00 PM
84 Exam Time 5.00 PM
83 Exam Time 4.00 PM
82 Exam Time 5.00 PM
81 Exam Time 4.00 PM
80 Exam Time 5.00 PM
79 Exam Time 4.00 PM
78 Exam Time 5.00 PM
77 Exam Time 4.00 PM
76 Exam Time 5.00 PM
75 Exam Time 4.00 PM
74 Exam Time 5.00 PM
73 Exam Time 4.00 PM
72 Exam Time 5.00 PM
71 Exam Time 4.00 PM
70 Exam Time 5.00 PM
69 Exam Time 4.00 PM
68 Exam Time 5.00 PM
67 Exam Time 4.00 PM
66 Exam Time 5.00 PM
65 Exam Time 4.00 PM
64 Exam Time 5.00 PM
63 Exam Time 4.00 PM
62 Exam Time 5.00 PM
61 Exam Time 4.00 PM
60 Exam Time 5.00 PM
59 Exam Time 4.00 PM
58 Exam Time 5.00 PM
57 Exam Time 4.00 PM
56 Exam Time 5.00 PM
55 Exam Time 4.00 PM
54 Exam Time 5.00 PM
53 Exam Time 4.00 PM
52 Exam Time 5.00 PM
51 Exam Time 4.00 PM
50 Exam Time 5.00 PM
49 Exam Time 4.00 PM
48 Exam Time 5.00 PM
47 Exam Time 4.00 PM
46 Exam Time 5.00 PM
45 Exam Time 4.00 PM
44 Exam Time 5.00 PM
43 Exam Time 4.00 PM
42 Exam Time 5.00 PM
41 Exam Time 4.00 PM
40 Exam Time 5.00 PM
39 Exam Time 4.00 PM
38 Exam Time 5.00 PM
37 Exam Time 4.00 PM
36 Exam Time 5.00 PM
35 Exam Time 4.00 PM
34 Exam Time 5.00 PM
33 Exam Time 4.00 PM
32 Exam Time 5.00 PM
31 Exam Time 4.00 PM
30 Exam Time 5.00 PM
29 Exam Time 4.00 PM
28 Exam Time 5.00 PM
27 Exam Time 4.00 PM
26 Exam Time 5.00 PM
25 Exam Time 4.00 PM
24 Exam Time 5.00 PM
23 Exam Time 4.00 PM
22 Exam Time 5.00 PM
21 Exam Time 4.00 PM
20 Exam Time 5.00 PM
19 Exam Time 4.00 PM
18 Exam Time 5.00 PM
17 Exam Time 4.00 PM
16 Exam Time 5.00 PM
15 Exam Time 4.00 PM
14 Exam Time 5.00 PM
13 Exam Time 4.00 PM
12 Exam Time 5.00 PM
11 Exam Time 4.00 PM
10 Exam Time 5.00 PM
9 Exam Time 4.00 PM
8 Exam Time 5.00 PM
7 Exam Time 4.00 PM
6 Exam Time 5.00 PM
5 Exam Time 4.00 PM
4 Exam Time 5.00 PM
3 Exam Time 4.00 PM
2 Exam Time 5.00 PM
1 Exam Time 4.00 PM

In [ ]:
# prompt: Get a Number from User to Display Table of that Number using While Loop.
number = int(input("Enter a number: "))

i = 1
while i <= 10:
  print(number, "x", i, "=", number * i)
  i += 1

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
even_numbers = [num for num in range(20, 0, -1) if num % 2 == 0]
total_sum = sum(odd_numbers) + sum(even_numbers)

print(f"Odd Numbers from 1 to 20: {odd_numbers}")
print(f"Even Numbers from 20 to 1: {even_numbers}")
print(f"Total Sum: {total_sum}")

Odd Numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Even Numbers from 20 to 1: [20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
Total Sum: 210

In [ ]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

if start<end:
  for num in range(start, end+1):
    print(num, end=" ")
else:
  print("Invalid input")

Enter the starting number: 1
Enter the ending number: 7
1 2 3 4 5 6 7

In [ ]:
for i in range(2):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1