<a href="https://colab.research.google.com/github/istiakmahmudnewaz/Pythonprogramming_GUB_EDGE_PROJECT/blob/main/Class_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def istiak():
  print("Bangladesh")
istiak()

Bangladesh

In [ ]:
def show(name, num):
  print(name)
  print(num)
show(str(istiak),32)

<function istiak at 0x7986313275b0>
32

In [ ]:
def show_value(a, b, c):
  print(“a = ”+a)
  print(“b = ”+b)
  print(“c = ”+c)
show_value(3, 5, 1)

In [ ]:
def show(num1, num2 = 33):
   print(num1+num2)
show(num1 = 43)

76

In [ ]:
def show():
  a = 32
  b = 12
  return (a + b)
print(show())

44

In [ ]:
a = 30

if a > 30:
   pass

for i in range(1,10):

   pass
def func():
   pass

while(a == 23):
   pass